<div class="custom_block center-block color_box"><h3 class="text-center">Messages</h3>
			<div id='gameWindow' class="centerp center-block">
			<p>There is plenty of tutorial pages around there in the web. This page is more about
				programming language {guide}, some code snippets and few templates
				for myself and whoever needs them, Enjoy! 
				programming language {guide}, some code snippets and few templates
				for myself and whoever needs them, Enjoy! 
				pMessages here
				for myself and whoever needs them, Enjoy! 
				programming language {guide}, some code snippets and few templates
				for myself and whoever needs them, Enjoy! 
				programming language {guide}, some code snippets and few templates
				for myself and whoever needs them, Enjoy! 
</p>
</div></div>
	</div>